extends layout

block js
    script(src='/javascripts/index-view.js')

block content
    h1= title
    script(type='text/javascript').
        console.log(test)

    p Welcome to #{title}
    p Welcome to #{hello}

